/* deliveryHome.css */

#home-wrapper {
  position: relative;
  background-image: url('../../images/deliveryHome.png'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  z-index: 1;
}


#home-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Change opacity here */
  z-index: -1;
}

/* Optional filter to reduce image saturation */
#home-wrapper {
  filter: grayscale(5%); /* Desaturate the image by 5% */
}

#title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

#input-box {
  padding: 20px;
  width: 300px; /* Increased the width */
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #000; /* Set text color to black */
  background-color: #fff; /* Ensure background is white */
}


#button-wrapper {
  display: flex;
  gap: 20px;
}

#button {
  padding: 15px 30px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

#button-primary {
  background-color: #007bff;
}

#button:hover {
  opacity: 0.8;
}
